/* CSS Document */
* { word-wrap: break-word; }
ul,ol,li,span,p,form,h1,h2,h3,4,h5,h6,dl,dt,dd { margin: 0; padding: 0; border: 0; z-index:inherit; }
img,a img { border:0; margin:0; padding:0; }
ul,ol,li { list-style:none; }
* { margin:0; padding:0; }
html,body { height:100%; font:12px/1.6  Microsoft YaHei, Helvetica, sans-serif; color:#4C4C4C; }
input,select,textarea,button { font:14px/1.5  Microsoft YaHei, Helvetica, sans-serif; }
body, ul, ol, li, dl, dd, p, h1, h2, h3, h4, h5, h6, form, fieldset, .pr, .pc { margin: 0; padding: 0; }
table { empty-cells: show; border-collapse: collapse; }
	caption, th { text-align: left; font-weight: 400; }
ul li, .xl li { list-style: none; }
h1, h2, h3, h4, h5, h6 { font-size: 1em; }
em, cite, i { font-style: normal; }
	a img { border: none; }
label { cursor: pointer; }
a{ text-decoration:none; color:#333}
.cl:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; } .cl { zoom: 1; }

body{ background:#f6f6f6;}
.cis_wp{ padding-top:50px;}

#header{ height:50px; position:fixed; top:0px; left:0px; width:100%; background: -moz-linear-gradient( top,#41c8ef,#25b1f1); background: -webkit-linear-gradient( top,#41c8ef,#25b1f1);background: linear-gradient( top,#41c8ef,#25b1f1); z-index:9999; border-bottom:1px solid #1191d1}
#header h2{ float:left; padding:10px; line-height:30px; font-size:18px; font-weight:400; color:#fff;}
#header h2 a{ color:#fff}
#header h2 img{ height:30px; vertical-align:middle}

#header ul{ float:right; padding:10px;}
#header ul li{ float:left; width:30px; height:30px; margin-left:10px; background:#fff; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
#header ul li img{ width:30px; height:30px;}


				
/*cis_slide*/
.cis_slider{}

.flexslider { margin: 0; padding: 0; }
.flexslider .slides li{position:relative }
.flexslider .slides > li { display: none; -webkit-backface-visibility: hidden; }
.flexslider .slides li p{ position:absolute; left:0px; bottom:0px; width:100%; height:40px; line-height:40px; text-align:center; overflow:hidden; color:#fff; font-size:14px;
  background: rgba(0, 0, 0, 0.6); 
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr = #60000000, endColorstr = #60000000);
}
.flexslider .slides img { width: 100%; display: block; }
html[xmlns] .slides { display: block; }

.flexslider { zoom: 1; position: relative; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease; }
.flexslider .slides { zoom: 1; }

.flex-control-nav { width: 100%; position: absolute; bottom: 15px; text-align: center; }
.flex-control-nav li { margin: 0 6px; display: inline-block; zoom: 1; *display: inline; }
.flex-control-paging li a { width: 11px; height: 11px; display: block; background: #fff; text-indent: -9999px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3); }
.flex-control-paging li a.flex-active { background: #f60; background: rgba(255,102,0,0.9); cursor: default; }

.cis_slide_act .flex-control-nav { bottom:45px;}
/**/
.cis_sitenv{ padding:3px 7px 7px 8px;}
.cis_sitenv li{ width:25%; float:left; text-align:center;}
.cis_sitenv li a{ display:block; margin:7px 8px 8px 7px; background:#fff; border:1px solid #eee; padding:10px; font-size:14px;
  border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}
.cis_sitenv li img{ width:100%;}

/**/
.cis_box{ background:#fff; margin-bottom:10px;}
.cis_box h3{ height:40px; border-top:1px solid #eee; border-bottom:1px solid #eee; font-weight:400; font-size:16px;}
.cis_box_bt0 h3{ border-top:0px;}
.cis_box h3 img{ width:40px; height:40px; vertical-align:middle}
.cis_box h3 span{ float:left; height:40px; line-height:40px; padding:0 15px 0 0; color:#333; }
.cis_box h3 span img{}
.cis_box h3 .more{ float:right }

/**/
.cis_trowlist{ background:#fff }
.cis_trowlist li{ float:left; width:50%; border-bottom:1px solid #eee; text-align:center}
.cis_trowlist li div.item{ padding:10px; text-align:center}
.cis_trowlist li.even div.item{ border-left:1px solid #eee;}

.cis_trowlist li div.logo{ width:100px; height:100px; overflow:hidden; margin:0 auto}
.cis_trowlist li div.logo_area{ display:table-cell; height:100px; width:100px; line-height:100px; vertical-align:middle;}
.cis_trowlist li div.logo img{ max-width:100px; max-height:100px; width:expression(this.width > 100 && this.width > this.height ? 100: true); height:expression(this.height > 100 ? 100: 100); vertical-align:middle;}

.cis_trowlist li h4{ height:30px; line-height:30px; overflow:hidden; font-size:14px; font-weight:400}

/**/
.couponlist h4{ background:#f6f6f6;}
.coupon{ background:#81cccd; padding:5px 10px;}
.coupon h2{ font-size:18px; color:#fff; border-bottom:1px dotted #fff; padding-bottom:5px; margin-bottom:5px; font-weight:400}
.coupon p{ color:#fff;}
.coupon50{ background:#6898cc !important;}
.coupon100{ background:#f6bb3d !important}
.coupon200{ background:#ff797c !important}

/*cis_activitielist*/
.cis_activitielist{}
.cis_activitielist li{ padding:10px; border-bottom:1px solid #eee;}
.cis_activitielist li div.list_cover{ width:100px; height:100px; float:left; display:table-cell; line-height:100px; text-align:center; vertical-align:middle; margin-right:10px;}
.cis_activitielist li div.list_cover img{ max-width:100px; max-height:100px; width:expression(this.width > 100 && this.width > this.height ? 100: true); height:expression(this.height > 100 ? 100: 100); vertical-align:middle;}
.cis_activitielist li h4{ height:30px; line-height:30px; font-size:14px; overflow:hidden; font-weight:400}
.cis_activitielist li h5{ font-weight:400; height:20px; line-height:20px; overflow:hidden}
.cis_activitielist li p { line-height:25px; line-height:25px; overflow:hidden}
.cis_activitielist li p span.over{ color:#999}
.cis_activitielist li p span.wait{ color:#f00}
.cis_activitielist li p span.ing{ color:#060}
.cis_activitielist li p.num span{ color:#f00}
.cis_activitielist li p.num em{ padding:0 5px;}

/**/
#waterfallist{ padding:7px;}
.cis_waterfall{ position:relative}
.cis_waterfall li{ float:left; width:50%;}
.cis_waterfall li div.item{ padding:7px; text-align:center}

.cis_waterfall li img{ width:100%;}
.cis_waterfall li div.info { text-align:left; background:#f6f6f6; border-bottom:1px solid #eee;}
.cis_waterfall li div.info h2{ font-size:14px; line-height:20px; font-weight:400; padding:5px 5px 0 5px;}
.cis_waterfall li div.info h4 { padding:0 5px 5px 5px}
.cis_waterfall li div.info h4 strong{ font-size:18px; color:#f00; font-weight:400}
#container h4 strong{ font-size:18px; color:#f00; font-weight:400}
.cis_waterfall li div.info h4 span{ font-size:14px; color:#999;  text-decoration:line-through; font-weight:400}
#container h4 span{ font-size:14px; color:#999;  text-decoration:line-through; font-weight:400}

.pgbtn{ height:40px; padding:15px 15px 0 15px; font-size:16px;}
.pgbtn a{ display:block; text-align:center; line-height:40px;background:#fff; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}

#autopbn{ margin:15px 15px 0 15px; background:#fff; display:block; text-align:center; height:40px; line-height:40px;font-size:16px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}

#fd_page_bottom{ display:none}
/**/
.footer{ text-align:center; padding-bottom:15px; padding-top:15px;}
.footer ul{ list-style:none; margin:0; display:inline-block;}
*+html .footer ul { display:inline;}
.footer ul li{ float:left;}
.footer ul li a{ border:1px solid #eee; display:block; padding:0 15px; height:24px; line-height:24px; background:#eee}
.footer ul li.a a{ background:#fff}

.footer p{ font-size:12px; color:#999; line-height:24px;}
.footer p a{ color:#999}

/**/
.cis_catnv{ border-bottom:1px solid #f9f9f9;}
.cis_catnv li{ float:left; line-height:50px; font-size:15px; border-bottom:1px solid #ddd;}
.cis_catnv li a{ display:block; text-align:center; background:#fff; border-right:1px solid #eee;}
.cis_catnv li a span{ color:#f60}
.cis_catnv li#end a{ border-right:0px;}
.cis_catnv li.a{ border-bottom:1px solid #f60} 
.cis_catnv li.a a{ border-bottom:1px solid #f60}

.cis_cn3 li{ width:33.3%;}
.cis_cn4 li{ width:25%;}
.cis_cn5 li{ width:20%;}

.cis_shownv{ background:#fff;  border-bottom:1px solid #ddd;}
.cis_shownv h3{ height:40px; background:#f6f6f6; border-bottom:1px solid #eee; line-height:40px; font-size:14px; padding-left:10px; font-weight:400}
.cis_shownv ul {padding:5px;}
.cis_shownv ul li{ float:left; width:25%; overflow:hidden;}
.cis_shownv ul li a{ display:block; text-align:center; padding:5px; font-size:14px}
.cis_shownv ul li a span{ display:block; border:1px solid #ddd; height:28px; line-height:28px;border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px;}
.cis_shownv ul li.a a span{ border:1px solid #c40000; background:#c40000; color:#fff}

/**/
.cis_shoplist tbody{ background:#fff; border-bottom:1px solid #eee;}
.cis_shoplist td.logo{ width:80px; height:81px; float:left; display:table-cell; line-height:80px; text-align:center; vertical-align:middle; padding:10px;}
.cis_shoplist td.logo img{ max-width:80px; max-height:80px; width:expression(this.width > 80 && this.width > this.height ? 80: true); height:expression(this.height > 80 ? 80: 80); vertical-align:middle;}
.cis_shoplist td.info{ padding:10px 10px 10px 0; height:80px; overflow:hidden; width:100%;}
.cis_shoplist h4{ font-size:16px; height:24px; line-height:20px; overflow:hidden; font-weight:400}
.cis_shoplist p.about{ height:34px; line-height:17px; color:#999; overflow:hidden}
.cis_shoplist p.score{ padding-top:5px; }
.cis_shoplist p.score span{ width:75px; height:15px; float:left;background-image:url(score_bg.png);background-repeat:no-repeat;background-size:75px 15px;}
.cis_shoplist p.score span em{ float:left; height:15px;background-image:url(score.png);background-repeat:no-repeat;background-size:75px 15px;}

/**/
.cis_wp10{ padding:0 10px;}

/**/
.cis_couponlist{ margin-bottom:10px; width:100%;}
.cis_couponlist td{ padding:10px 0 0 0; vertical-align:top}
.cis_couponlist td.btn{ width:80px;}
.cis_couponlist td.btn div{ width:80px; height:60px; padding:10px 0; background:url(coupon_btn.gif) repeat-y 0 0 #f4dd37; font-size:18px; text-align:center; line-height:30px;}

.cis_couponlist td.info div.coupon{ background:#81cccd; height:80px; padding:0px;}
.cis_couponlist td.info div.coupon50{ background:#6898cc;}
.cis_couponlist td.info div.coupon100{ background:#f6bb3d}
.cis_couponlist td.info div.coupon200{ background:#ff797c}

.cis_couponlist td.info div.coupon div{ padding:10px; height:40px;}
.cis_couponlist td.info div.coupon h3{ height:40px; line-height:40px; float:left; color:#fff; font-size:24px; margin-right:10px; overflow:hidden; }
.cis_couponlist td.info div.coupon h3 span{ font-weight:400; font-size:16px}
.cis_couponlist td.info div.coupon h4{ font-weight:400; height:20px; line-height:20px; color:#fff; font-size:14px; overflow:hidden}

.cis_couponlist td.info div.coupon p{ height:20px; line-height:20px; text-align:center; color:#333; font-size:10px;
  background: rgba(255, 255, 255, 0.6); 
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr = #60ffffff, endColorstr = #60ffffff);
}

/**/
.activitielist{ background:url(../images/activitielist.gif) repeat-y 31px 0;}
.cis_activitielist{ width:100%;}
.cis_activitielist div.cover{ height:80px; width:80px; display:table-cell; line-height:80px; vertical-align:middle; float:left; margin-right:10px; }
.cis_activitielist div.cover img{ max-width:80px; max-height:80px; width:expression(this.width > 80 && this.width > this.height ? 80: true); height:expression(this.height > 80 ? 80: 80); vertical-align:middle;}

.cis_activitielist td.date{ width:50px; text-align:center}
.cis_activitielist .datearea{ width:50px; height:40px; padding:5px 0; background:#77cedb; color:#fff;border-radius: 25px; -moz-border-radius: 25px; -webkit-border-radius: 25px; border-radius: 25px;}
.cis_activitielist .datearea h3{ line-height:40px; font-weight:400}
.cis_activitielist .datearea h4{ height:19px; line-height:19px; border-bottom:1px solid #fff; font-size:12px; font-weight:400}
.cis_activitielist .datearea p{ height:19px; line-height:19px; border-top:1px solid #fff; color:#fff;}

.cis_activitielist td.date div.end{ background:#999;}
.cis_activitielist td.date div.ing{ background:#ff797c}


.cis_activitielist td.info{ padding-top:10px; padding-left:10px;}
.cis_activitielist .infoarea{ background:#fff; padding:10px; border:1px solid #eee;}
.cis_activitielist .infoarea h3{ height:20px; line-height:20px; font-size:14px; font-weight:400; margin-bottom:10px; overflow:hidden }
.cis_activitielist .infoarea h4{ font-size:16px; font-weight:400; height:30px; line-height:30px; overflow:hidden; }
.cis_activitielist .infoarea p{ height:20px; line-height:20px; overflow:hidden;}
.cis_activitielist .infoarea p span{ color:#f60; padding:0 3px;}

/**/
.cis_newslist{ width:100%;}
.cis_newslist td.cover{ height:50px; width:60px;line-height:50px; vertical-align:middle; padding:10px 0 10px 10px; background:#fff; border-bottom:1px solid #eee;}
.cis_newslist td.cover img{ max-width:60px; max-height:50px; width:expression(this.width > 60 && this.width > this.height ? 60: true); height:expression(this.height > 50 ? 50: 50); vertical-align:middle;}
.cis_newslist td.info{ height:50px; overflow:hidden; padding:10px; background:#fff; border-bottom:1px solid #eee; }
.cis_newslist td.info h4{ height:20px; line-height:20px; overflow:hidden; font-size:14px; font-weight:400}
.cis_newslist td.info p{ height:30px; line-height:15px; overflow:hidden; font-size:12px; color:#999 }

/**/
.cis_sitemap{ background:#fff; padding-top:50px;}
#cis_view .cis_sitemap{ padding-top:0px;}
.cis_sitemap h3{ font-size:14px; padding-left:15px; background:#f6f6f6; border-bottom:1px solid #eee; font-weight:400; height:40px; line-height:40px; margin-bottom:5px;}

/**/
.cis_search{ padding:60px 10px 10px 10px;}
#cis_view .cis_search{ padding-top:10px;}
.cis_search form{ background:#fff; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; padding:5px; border:1px solid #eee;}
.cis_search form input{ border:0px; height:30px; line-height:30px;}
.cis_search table{ width:100%;}
.cis_search table td.type{ width:80px;}
.cis_search table td.btn{ width:50px;}
.cis_search table td.input input{ width:100%;}
.cis_search form select { border: 0; padding: 2px 4px; font-size:14px; width:100%; background:none}
.cis_search form button{ width:100%; border:0px; padding:0px; background:#f60; height:30px; line-height:26px;-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; color:#fff;}

/**/
.cis_userinfo{ padding:15px; background:#fff; border-bottom:1px solid #ddd;}
.cis_userinfo img{ width:48px; height:48px; float:left; margin-right:10px; border:1px solid #eee; padding:2px;}
.cis_userinfo h3{ padding-top:7px; height:20px; line-height:20px; font-size:14px; font-weight:400}
.cis_userinfo p{ font-size:14px; height:20px; line-height:20px;}

.cis_links{ padding:15px; }
.cis_links li{ height:40px; line-height:40px; padding:0 0 0 15px; background:#fff; border-bottom:1px solid #eee; font-size:14px}
.cis_links li .more{ float:right; height:40px; }

/**/
.cis_shopindex{ padding:23px 7px 7px 8px;}
.cis_shopindex li{ width:25%; float:left; text-align:center;}
.cis_shopindex li a{ display:block; margin:7px 8px 8px 7px; padding:10px; font-size:14px; color:#fff; text-shadow:1px 1px 0 #000;
  border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}
.cis_shopindex li img{ width:100%;}


/**/
.cis_indexshopname{ position:absolute; left:0px; bottom:0px; height:40px; line-height:40px; text-align:center; width:100%; font-size:16px; font-weight:400; color:#000;
  background: rgba(255, 255, 255, 0.6); 
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr = #60ffffff, endColorstr = #60ffffff);
}


/**/
.cis_shopheader{ background:#fff; border-bottom:1px solid #ddd; position:relative; height:170px;}
.cis_shopheaderbg{ height:100px; background:#c40000}
.cis_shophdc{ position:absolute; left:0px; bottom:15px; width:100%; height:70px; overflow:hidden;}

.cis_shoplogo{ float:left; width:70px; height:70px; line-height:70px; overflow:hidden; margin-right:10px; margin-left:15px;}
.cis_shoplogo img{ max-width:70px; max-height:70px; width:expression(this.width > 70 && this.width > this.height ? 70: true); height:expression(this.height > 70 ? 70: 70);}
.cis_shophdc h1{ font-size:18px; height:40px; line-height:40px; overflow:hidden; margin-top:15px; }
.cis_shophdc p{ height:15px;}
.cis_shophdc p span{ width:80px; height:15px; float:left;background-image:url(ss_bg.png);background-repeat:no-repeat;background-size:80px 15px;}
.cis_shophdc p span em{ float:left; height:15px;background-image:url(ss.png);background-repeat:no-repeat;background-size:80px 15px;}

/**/
.cis_shoptopbtn{ position:absolute; right:15px; height:30px; top:15px; }
.cis_shoptopbtn li{ float:left; height:30px; line-height:30px; margin-left:10px;
  border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
  background: rgba(0, 0, 0, 0.2); 
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr = #20000000, endColorstr = #20000000);
}
.cis_shoptopbtn li img{ width:30px; height:30px;}

/**/
.cis_showshopnv{ width:50px; height:50px; border-left:1px solid #eee; position:absolute; right:0px; bottom:10px; text-align:center; overflow:hidden }
.cis_showshopnv img{ width:50px; height:50px;}

/**/
#footer{ position:fixed; left:0px; bottom:0px; height:50px; overflow:hidden; background:#eee; border-top:1px solid #ddd; width:100%;}
#footer li{ float:left; width:20%;}
#footer li a{ display:block; height:50px; line-height:50px; border-right:1px solid #ddd; font-size:16px; text-align:center}
#footer li.a a{ background:#fff; border-top:2px solid #f60; height:48px; line-height:48px;}
#footer li.end a{ border-right:0px;}

/**/
.cis_viewpage{ padding:15px;}
.cis_viewcontent{ border:1px solid #ddd; padding:15px; background:#fff;-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}
.cis_viewcontent h3{ font-size:16px; line-height:30px; text-align:center }
.cis_viewcontent p.info{ text-align:center; font-size:10px; color:#999; padding-bottom:10px; border-bottom:1px solid #ddd; margin-bottom:10px;}
.cis_viewcontenttable td{ font-size:16px; line-height:1.8;word-wrap: break-word;}
.cis_viewcontenttable td img{ max-width:100%; width:expression(this.width > 300 ? 100%: true);}

/**/
.cis_sendpost{ position:fixed; left:0px; bottom:0px; height:60px; width:100%; background:#eee; border-top:1px solid #ddd; }
.cis_sendpost form{ margin:10px;}
.cis_sendpost table{ width:100%;}

.cis_sendpost table td.input{ background:#fff; padding:5px; height:28px; border:1px solid #ddd;}
.cis_sendpost table td.input input{ width:100%; border:0px; height:28px; line-height:28px; }
.cis_sendpost table td.blank{ width:10px;}
.cis_sendpost table td.btn{ width:50px;}
.cis_sendpost button{ width:100%; border:0px; padding:0px; background:#f60; height:40px; line-height:40px;-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; color:#fff;}

/**/
.pb60{ padding-bottom:60px !important;}

/**/
.cis_postlist{ margin:0 15px 15px 15px; border:1px solid #ddd; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;background:#fff; border-bottom:0px;}
.cis_postlist h2{ font-size:16px; height:40px; line-height:40px; font-weight:400; background:#eee; border-bottom:1px solid #ddd; padding:0 10px;
  -moz-border-radius:5px 5px 0 0; -webkit-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0;
}
.cis_postlist table{ width:100%; }
.cis_postlist table td{ border-bottom:1px solid #ddd; }
.cis_postlist table td.user{ width:24px; padding:10px; vertical-align:top}
.cis_postlist table td.user img{ width:24px; height:24px;-moz-border-radius: 12px; -webkit-border-radius: 12px; border-radius: 12px;}

.cis_postlist table td.post{ padding:5px 10px 10px 10px;}
.post h3 img{ width:24px; height:24px;-moz-border-radius: 12px; -webkit-border-radius: 12px; border-radius: 12px; vertical-align:middle; margin-right:10px;}
.post h3{ font-size:12px; color:#06C; font-weight:400; height:30px; line-height:30px;}

.post .cis_plpc{ line-height:20px; font-size:14px; padding-top:5px;}


.cis_plpost{ background:#fdf9e9; border:1px solid #e1ddcc; margin-top:10px;-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}
.cis_plpost h4{ background:#fff; border-bottom:1px solid #e1ddcc; height:30px; line-height:30px; color:#999; font-weight:400; padding:0 10px;
  -moz-border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0;
}

.cis_plpost div{ padding:10px; font-size:14px; line-height:20px;}


.cis_managepost{ float:right; }
.cis_managepost select{ border:0px; background:none; width:100%; color:#ccc}
/**/
.cis_viewinfo{ padding:15px;}
.cis_viewinfo .cis_slide{ border:1px solid #ddd;}
.cis_infocontent{ border:1px solid #ddd; border-top:0px; background:#fff;}
.cis_infocontent h2{ font-size:18px; line-height:24px; font-weight:400; padding:10px 10px 0 10px;}
.cis_infocontent p{ line-height:20px; color:#999; font-size:14px; padding:0 10px 10px 10px;}
.cis_infocontent p.num{ padding-top:5px;}
.cis_infocontent p.num span{ color:#f60; padding:0 3px}
.cis_infocontent p.num a{ margin-left:5px; color:#06C}

#cis_fixed_btn{ border-top:1px solid #ddd; padding:10px 0; height:30px; line-height:30px;}
.cis_fixed_nv{ position:fixed; left:0px; top:0px; width:100%; background:#fff; border-bottom:1px solid #ddd;}

#cis_fixed_btn p span{ float:right; height:30px; line-height:30px; font-size:18px; color:#f00}
#cis_fixed_btn p a{ float:left; margin-right:10px; height:30px; line-height:30px; padding:0 15px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; color:#fff; font-size:16px}
#cis_fixed_btn p a img{ height:20px; vertical-align:middle}
#cis_fixed_btn p a.fav{ background:#55c1d2}
#cis_fixed_btn p a.buy{ background:#e43b36}
#cis_fixed_btn p a.reset{ background:#999}

/**/
.cis_viewshopinfo{ border:1px solid #ddd; border-top:0px; background:#fff}
.cis_viewshopinfo h2{ height:40px; border-bottom:1px solid #ddd; background:#eee; font-size:16px; padding-left:15px; font-weight:400; line-height:40px;}
.cis_viewshopinfo .tel{ float:right; width:50px; height:50px; padding:10px; line-height:50px;}
.cis_viewshopinfo .tel a{ display:block; width:50px; height:50px; background-image:url(tel.png);background-repeat:no-repeat;background-size:30px 30px; background-position:50% 50%; background-color:#55c1d2;
   -moz-border-radius: 25px; -webkit-border-radius: 25px; border-radius: 25px;
}
.cis_viewshopinfo .info{ padding:10px 60px 10px 10px;}
.cis_viewshopinfo .info p{ color:#999; line-height:25px; height:50px; overflow:hidden; font-size:14px}

/**/
.cis_viewbox{ border:1px solid #ddd; border-top:0px; background:#fff}
.cis_viewbox h2{ height:40px; border-bottom:1px solid #ddd; background:#eee; font-size:16px; padding-left:15px; font-weight:400; line-height:40px;}
.cis_viewboxbc{ padding:10px;}

.cis_viewpic{ border:1px solid #ddd; background:#fff}
.cis_viewpic img{ width:100%;}

/**/
.cis_couponinfo{ background:#81cccd; padding:5px 10px 10px 10px;}
.cis_couponinfo h2{ font-size:18px; color:#fff; border-bottom:1px dotted #fff; height:40px; line-height:40px; padding-bottom:5px; margin-bottom:5px; font-weight:400}
.cis_couponinfo p{ color:#fff;}

/**/
.cis_form{ padding:10px;}
.cis_form table{ width:100%;}
.cis_form table td{ padding-bottom:10px; }
.cis_form table td.input div{ padding:10px; background:#fff; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; border:1px solid #ddd;}
.cis_form table td.input textarea{ width:100%; border:0px;}
.cis_form table td.input input{ width:100%; border:0px;}
.cis_form table td.btn{}
.cis_form table td.btn button{ border:0px; padding:0px 15px; background:#f60; height:40px; line-height:40px;-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; color:#fff;}

/**/
.cis_pt{ background:#fff; padding:10px; height:30px; line-height:30px; overflow:hidden; border-bottom:1px solid #ddd; font-size:16px;}
.cis_pt img{ height:30px; vertical-align:middle}

/**/
.cis_userlist{}
.cis_userlist table{ width:100%;}

.cis_userlist table td{ height:30px; border-bottom:1px solid #ddd; background:#fff; padding-top:5px; padding-bottom:5px;}
.cis_userlist table td.cis_w2{ padding-left:10px; width:100px;}
.cis_userlist table td.cis_w3{ width:100px;}
.cis_userlist table thead td{ background:#f6f6f6}

/**/
.cis_threelist{ }
.cis_threelist li{ float:left; width:33.3%; border-bottom:1px solid #ddd;}
.cis_threelist li div{ padding:10px; background:#fff;}
.cis_threelist li.mid div{ border-left:1px solid #ddd; border-right:1px solid #ddd;}
.cis_threelist li div img{ width:100%;}

.footer ul{display:none;}





/**** copy from zhihu ****/
  .top .inner-wrapper, .bottom .inner-wrapper {
    width: auto;
  }
  .top .inner-wrapper, .bottom .inner-wrapper {
    position: relative;
    /*width: 740px;*/
    margin: 0 auto;
  }
  .top {
    color: #fff;
    background: #0078d8;
    box-shadow: inset 0 -1px 6px rgba(0,0,0,.1);
  }
.top .form-wrapper {
  min-height: initial;
  margin: 0 auto;
  padding: 42px 0 30px;
  width: auto;
}
.top .form-wrapper {
  position: relative;
  width: 70%;
  height: auto;
  min-height: 360px;
}
.sign-flow .view .signin-switch {
  float: right;
}
.top a {
  color: #fff;
}
.sign-flow .view .input-wrapper, .sign-flow .view .button-wrapper, .sign-flow .view .signin-misc-wrapper, .sign-flow .view .weibo-signup-wrapper {
  margin-top: 22px;
}
.sign-flow .view .input-wrapper {
  position: relative;
}
.sign-flow .view .input-wrapper input {
  width: 226px;
  font-size: 16px;
  line-height: 19px;
}
.sign-flow .view .input-wrapper input {
  margin: 0;
  padding: 8px 10px;
  width: 100%;
  background: #e7f1f8;
  font-size: 15px;
  line-height: 17px;
  color: #555;
  border: 1px solid #1672B9;
  border-radius: 5px;
  box-shadow: inset 0 1px 2px rgba(15,82,135,.25),0 1px 0 rgba(255,255,255,.15);
}
.sign-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 37px;
}
.sign-button {
  display: block;
  padding: 0;
  width: 100%;
  font-size: 15px;
  line-height: 33px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  background: #80C3F7;
  background: -webkit-gradient(linear,left top,left bottom,from(#80c3f7),to(#6bbaf8));
  border: 1px solid #1D80CF;
  border-radius: 5px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.3),0 1px 1px rgba(50,50,50,.05);
  outline: 0;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/**** copy from weibo ***/
.item-info-page {
  border-color: #e3e3e3;
  background: #e7f1f8;
  margin-top:22px;
  border-radius: 5px;
  box-shadow: inset 0 1px 2px rgba(15,82,135,.25),0 1px 0 rgba(255,255,255,.15);
}
.item-info-page {
  overflow: hidden;
  border-bottom: #dadada solid 1px;
  padding: 9px 5px 9px 0;
}
.item-info-page span {
  color: #333;
  font-size: 15px;
  font-weight: 400;
  color: #a9a9a9;
  line-height: 15px;
}
.item-info-page>span, .item-info-page a>span {
  float: left;
  margin: 0 0 0 15px;
  /*width: 75px;*/
  font-weight: 700;
  font-size: 15px;
  font-weight: 400;
  color: #a9a9a9;
  line-height: 15px;
}
.item-info-page>p, .item-info-page a>p, .item-info-page>div, .item-info-page a>div {
  margin: 0 0 0 90px;
}
#E_birthday{
  margin: 0 0 0 60px !important;
}
.L-tab, .L-tab-arrow, .L-tab-line {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: box;
  display: flex;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.item-info-page .L-item-tab {
  text-align: left;
}
.tit-info-page, .item-info-page span {
  color: #333;
  font-size: 15px;
  font-weight: 400;
  color: #a9a9a9;
  line-height: 15px;
}
.L-select {
  position: relative;
  padding: 0 10px 0 0;
}
.L-item-tab {
  position: relative;
  display: block;
  width: auto;
  text-align: center;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1 0 auto;
  box-flex: 1;
  flex: 1 0 auto;
}
.L-list-select {
  position: absolute;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-appearance: none;
}
.L-tab select, input[type="color" i][list] {
                                      background-color: rgb(248, 248, 248);
                                      border: 1px solid rgb(166, 166, 166);
                                      border-image-source: initial;
                                      border-image-slice: initial;
                                      border-image-width: initial;
                                      border-image-outset: initial;
                                      border-image-repeat: initial;
                                    }
.L-tab option {
  font-weight: normal;
  display: block;
  padding: 0px 2px 1px;
  white-space: pre;
  min-height: 1.2em;
}
.item-info-page .L-selected-select {
  line-height: 1em;
}
.tit-info-page, .item-info-page span {
  color: #333;
  font-size: 15px;
  font-weight: 400;
  color: #a9a9a9;
  line-height: 15px;
}
.L-selected-select {
  position: relative;
  top: 0;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  padding: 0 10px 0 0;
}

/***大衆點評****/
.shop-details .info-address {
  margin-left: 0;
}
.shop-details .details-mode .info-list .item {
  line-height: 23px;
}
.info-list .item {
  padding-left: 40px;
  font-size: 16px;
  line-height: 16px;
}
.icon-address {
  background-position: 0 -24px;
  background:url('/app/Tpl/fanwe/images/mobile/mix-pic.png');
}
.icon-address, .icon-call, .icon-gwran {
  position: absolute;
  width: 15px;
  height: 15px;
  background-size: 294px;
  top: 50%;
  left: 15px;
  margin-top: -8px;
}
.arrowent {
  position: absolute;
  right: 15px;
  top: 50%;
  background-size: 8px 14px;
  margin-top: -4px;
  border: #bbb solid 2px;
  transform: rotate(45deg);
  width: 8px;
  height: 8px;
  border-bottom: none;
  border-left: none;
  -webkit-transform: rotate(45deg);
}
.details-mode .aboutPhone {
  background-image: url(/app/Tpl/fanwe/images/mobile/repeat-x.png);
  background-repeat: repeat-x;
  background-position: 0 bottom;
  background-size: auto 1px;
  position: relative;
}
.shop-hui-list {
  padding: 0 0 0 15px;
  position: relative;
  background-image: url('/app/Tpl/fanwe/images/mobile/repeat-x.png');
  background-repeat: repeat-x;
  background-position: 0 bottom;
  background-size: auto 1px;
}
.shop-hui-list .hui-igroup {
  background: url('/app/Tpl/fanwe/images/mobile/mix-pic.png') no-repeat -101px -1px;
  background-size: 294px;
  width: 26px;
  height: 26px;
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 15px;
}
.hui-list{
}
.shop-hui-list .hui-list .item {
  padding-left: 30px;
  position: relative;
}
.shop-hui-list .hui-list .item .cnt {
  background-image: url('/app/Tpl/fanwe/images/mobile/repeat-x.png');
  background-repeat: repeat-x;
  background-position: 0 bottom;
  background-size: auto 1px;
  padding: 18px 15px 10px 0;
  display: box;
  display: -webkit-box;
}
.shop-hui-list .hui-list .item .cnt .content {
  font-size: 12px;
  color: #999;
}
.shop-hui-list .hui-list .item .cnt .content .newtitle {
  font-size: 15px;
  color: #000;
}
.shop-hui-list .hui-list .item .cnt .info {
  padding-top: 2px;
  color: #999;
  font-size: 13px;
}
.shop-hui-list .hui-list .item .soldNum {
  color: #999;
  position: absolute;
  top: 50%;
  right: 28px;
  line-height: 16px;
  margin-top: -7px;
}
.shop-tuan-list {
  padding: 0 0 0 15px;
  background-image: url('/app/Tpl/fanwe/images/mobile/repeat-x.png');
  background-repeat: repeat-x;
  background-position: 0 bottom;
  background-size: auto 1px;
}

.tag-igroup {
  position: absolute;
  top: 10px;
  left: 15px;
  background-position: -67px -171px;
}
.tag-booking, .tag-card, .tag-igroup, .tag-inpromo, .tag-takeaway {
  background: url('/app/Tpl/fanwe/images/mobile/mix-pic.png') no-repeat;
  background-size: 294px;
  width: 26px;
  height: 26px;
  display: inline-block;
}
.shop-details .shop-tuan-list .tuan-list .item {
  padding-left: 30px;
  position: relative;
}
.shop-details .shop-tuan-list .tuan-list .item .cnt {
  background-image: url('/app/Tpl/fanwe/images/mobile/repeat-x.png');
  background-repeat: repeat-x;
  background-position: 0 bottom;
  background-size: auto 1px;
}
.shop-details .shop-tuan-list .tuan-list .item .pic {
  margin-right: 10px;
}
.shop-tuan-list .tuan-list .content {
  padding-top: 1px;
  -webkit-box-flex: 1;
}
.shop-tuan-list .tuan-list .newtitle {
  color: #333;
  line-height: 20px;
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.shop-tuan-list .tuan-list .info {
  margin-top: 10px;
  color: #666;
  font-size: 12px;
  position: relative;
  line-height: 10px;
  display: box;
  display: -webkit-box;
  display: -ms-flexbox;
}
.shop-tuan-list .tuan-list .symbol {
  font-size: 12px;
  color: #f60;
  display: block;
}
..shop-tuan-list .tuan-list .symbol {
  font-size: 12px;
  color: #f60;
  display: block;
}
.shop-tuan-list .tuan-list .o-price {
  line-height: 16px;
  text-decoration: line-through;
}
.shop-details .shop-tuan-list .tuan-list .item .soldNum {
  color: #999;
  position: absolute;
  top: 50%;
  right: 28px;
  line-height: 16px;
  margin-top: -7px;
}
.shop-details .standardBord {
  height: 16px;
  background-image: url('/app/Tpl/fanwe/images/mobile/repeat-x.png');
  background-repeat: repeat-x;
  background-position: 0 bottom;
  background-size: auto 1px;
  background-color: #f0f0f0;
}
.details-mode .info-list .item {
  line-height: 23px;
}
.info-list .item {
  padding-left: 40px;
  font-size: 16px;
  line-height: 16px;
}
.block .item, .block .title, .bord, .group-list .col-list a, .group-list .deal-tuan-list .item, .group-list .hide-more, .group-list .sub, .group-list .view-more, .groupbuy, .groupbuy .block, .grouphead, .hotel-booking, .hotel-list a, .hotel-note, .index-category, .index-event, .index-rec .group-list .deal-tuan-list .item, .index-rec .home-tuan-list .cnt, .index-rec .tit, .index-topic-event, .index-topic-event .tit, .info-hotel, .leisure-list, .link-list .item, .list-nav .cat, .list-nav .full .item, .list-nav .selector .second-nav, .list-nav .sub .item, .mall .view-more, .modebox, .modebox .tit, .park-detail li, .park-detail ul, .photo-nav .cate, .search-list .item, .shop-details .shop-info, .shop-list .bord, .shop-list .item, .shop-mall .brand li:nth-child(3n), .shop-tuan-list, .sort-list .triggers, .suggest_list a, .timelimit, .tuan-list, header {
  background-image: url('/app/Tpl/fanwe/images/mobile/repeat-x.png');
  background-repeat: repeat-x;
  background-position: 0 bottom;
  background-size: auto 1px;
}
.link-list .item {
  padding: 15px 30px 15px 40px;
  position: relative;
  display: block;
  color: #323232;
  background:#fff;
  border-bottom:1px solid #ddd;
}
.shop-details{background:#fff;}
.icon-address {
  background-position: 0 -24px !important;
}
.icon-call {
  background-position: -17px -24px !important;
  background-image: url('/app/Tpl/fanwe/images/mobile/mix-pic.png');
  position:absolute;
  z-index: 99999;
}
 .item .cnt {
  background-image: url('/app/Tpl/fanwe/images/mobile/repeat-x.png');
  background-repeat: repeat-x;
  background-position: 0 bottom;
  background-size: auto 1px;
  padding: 18px 15px 10px 0;
  display: box;
  display: -webkit-box;
   background:#fff;
}
.shop-details .shop-hui-list .hui-list .item:first-child {
  display: block;
}
.shop-details .shop-hui-list .hui-list .item {
  padding-left: 30px;
  position: relative;
}
.tag-igroup {
  position: absolute;
  top: 10px;
  left: 15px;
  background-position: -67px -171px !important;
}
.tuan-list .symbol {
  font-size: 12px !important;
  color: #f60 !important;
  display: block !important;
}
.tuan-list .price {
  font-size: 25px !important;
  margin-left: 0 !important;
  vertical-align: -2px !important;
  margin-right: 3px !important;
  line-height: 10px !important;
  display: inline-block !important;
  color: #f60 !important;
}
.tuan-list .o-price {
  line-height: 16px;
  text-decoration: line-through;
}
.shop-tuan-list{
  position:relative !important;
}
.shop-details .shop-tuan-list .tuan-list .item:first-child {
  display: block;
}
.shop-details .shop-tuan-list .tuan-list .item {
  padding-left: 30px;
  position: relative;
}
.shop-details .shop-tuan-list .tuan-list .item .cnt {
  background-image: url(//www.dpfile.com/mod/app-m-style/1.5.3/css/img/repeat-x.png);
  background-repeat: repeat-x;
  background-position: 0 bottom;
  background-size: auto 1px;
}
.shop-tuan-list .tuan-list .cnt {
  padding: 10px 15px 10px 0;
  display: box;
  display: -webkit-box;
}
.ios-dialog {width:100%;height:100%;position:fixed;top:0;left:0;z-index:1000;}
.ios-dialog-overlay {width:100%;height:100%;position:absolute;top:0;left:0;z-index:1;background-color:#000;opacity:.7;filter:alpha(opacity:70);}
.ios-dialog-box {width:80%;position:absolute;top:50%;left:50%;margin:-80px 0 0 -40%;z-index:2;background-color:#fff;border-radius:5px;text-align:center;}
.ios-dialog-detail {padding:30px 20px;font-size:16px;line-height:1.5;}
.ios-dialog-opera {width:100%;height:50px;box-shadow:0 1px 1px -1px #888 inset;}
.ios-dialog-btn {height:50px;border:none;background:none;color:#157efb;font-size:15px;line-height:50px;cursor:pointer;}
.ios-dialog-btn-close {width:100%;}
.ios-dialog-btn-cancel, .ios-dialog-btn-ok {width:50%;float:left;}
.ios-dialog-btn-ok {box-shadow:-1px 0 1px -1px #888;}
.ios-prompt {max-width:50%;position:fixed;top:45%;left:50%;z-index:1000;padding:15px 20px;background-color:rgba(0,0,0,.8);color:#fff;border-radius:5px;line-height:1.4;font-size:14px;transition:opacity .5s;}
.pd_product-title-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0 10px;
  padding-top: 8px;
}
.pd_product-title {
  line-height: 20px;
  font-size: 1.4rem;
  color: #333;
  font-weight: normal;
  text-align: justify;
}
.pd_product-subtitle {
  height: 30px;
  line-height: 26px;
  font-size: 1.2rem;
  font-weight: normal;
  color: #999;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.pd_product-price {
  line-height: 20px;
  margin: 0 10px 8px;
}
.pd_product-price-tag {
  display: inline-block;
  height: 18px;
  line-height: 18px;
  margin-right: 5px;
  padding: 0 5px;
  color: #f00;
  border: 1px solid #ffc4bd;
  vertical-align: middle;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  background-color: #fff;
}
.pd_product-price-num {
  color: #fe5955;
  vertical-align: -5px;
  font-size: 2rem;
}
.pd_landing-page {
  height: 44px;
  line-height: 44px;
  margin-left: 10px;
  border-top: 1px solid #d8d8d8;
  color: #999;
}
.pd_product-price-decimal {
  color: #fe5955;
  vertical-align: -4px;
  font-size: 1.6rem;
}
.pd_landing-page .icon {
  display: inline-block;
  width: 20px;
  height: 44px;
  line-height: 44px;
  font-size: 2rem;
  text-align: center;
  vertical-align: top;
}
.pd_favorable-comment {
  position: relative;
  display: block;
  height: 44px;
  line-height: 44px;
  padding-left: 10px;
  border-top: 1px solid #d8d8d8;
  background-color: #fff;
}
.pd_favorable-comment .item {
  float: left;
  margin-right: 20px;
  color: #666;
}
.pd_favorable-comment .icon_arrow {
  display: inline-block;
  width: 26px;
  height: 26px;
  line-height: 26px;
  font-size: 1.9rem;
  color: #bfbfbf;
  text-align: center;
  font-weight: bold;
  position: absolute;
  right: 0;
  top: 8px;
}
.pd_brand-search, .pd_multiple-business {
  height: 44px;
  margin: 10px 0;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  background-color: #fff;
}
.pd_brand-search a, .pd_multiple-business a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 44px;
  padding-left: 10px;
}
.pd_brand-search a img, .pd_multiple-business a img {
  display: block;
  height: 30px;
  margin-right: 10px;
}
.pd_brand-search a .text, .pd_multiple-business a .text {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: block;
  color: #999;
  text-align: right;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.pd_brand-search a .text em, .pd_multiple-business a .text em {
  color: #333;
  font-style: normal;
}
.pd_brand-search a .icon_arrow, .pd_multiple-business a .icon_arrow {
  display: inline-block;
  width: 26px;
  height: 26px;
  line-height: 26px;
  font-size: 1.9rem;
  color: #bfbfbf;
  text-align: center;
  font-weight: bold;
}
.pd_product-recommend {
  margin: 10px 0;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  background-color: #fff;
}
.pd_detail-tab {
  height: 46px;
  margin-top: 10px;
}
.pd_detail-tab .tab {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  background-color: #fff;
}
.pd_detail-tab .tab .item.cur {
  color: #ff3c25;
}
.pd_detail-tab .tab .item {
  display: block;
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 44px;
  line-height: 44px;
  color: #333;
  font-size: 1.4rem;
  text-align: center;
}
.pd_box-border {
  border-bottom: 1px solid #d8d8d8;
  margin-bottom: 10px;
  background-color: #fff;
}
.pd_box-border .comment .sub_nav{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  border-bottom: 1px solid #ffabab;
  background-color: #f5f5f5;
}
.pd_box-border .comment .sub_nav a{
  display: block;
  line-height: 32px;
  font-size: 1.4rem;
}
.pd_box-border .comment .sub_nav > span.act {
  height: 38px;
  color: #ff3c3c;
  border-bottom: 3px solid #ff3c3c;
}
.pd_box-border .comment .sub_nav > span {
  display: block;
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
  width: 25%;
  height: 40px;
  overflow: hidden;
  padding-top: 4px;
  text-align: center;
  color: #999;
  text-shadow: 0 1px 0 #fff;
}
.pd_box-border .goods_comment_box {
  font-size: 1.4em;
  text-align: center;
}
.pd_box-border .goods_comment_box a {
  display: inline-block;
  width: 60px;
  font-weight: bold;
  color: #ff3c3c;
}
.pd_box-border .msg_btn {
  width: 100%;
  display: block;
  text-align: center;
  color: #fff;
  height: 38px;
  line-height: 38px;
  font-size: 16px;
  border-radius: 4px;
  box-shadow: 0 0 1px #d13600;
  -webkit-box-shadow: 0 0 1px #d13600;
  background: -webkit-gradient(linear,center bottom,center top,from(#f50),to(#ff4300));
  border: 0;
  margin-top:10px;
}
.pd_box-border #consult-add-form{
  padding:10px;
}
.pd_box-border textarea{
  width: 100%;
  height: 62px;
  line-height: 18px;
  padding-top: 6px;
  padding-left: 0!important;
  border: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #333;
  font-size: 14px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-appearance: none;
  border: 0;
  border-radius: 0;
  width: 100% !important;
}
.pd_box-border .goods_comment_box .form_face {display:none !important;}
.pd_box-border select[name='point'] {display:block;    width: 100%;
  border: 0;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 2px;}
.pd_box-border .goods_comment_row {
  margin-top: 4px;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 4px;
}
.pd_product-buy-num.show {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.pd_product-buy-num {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 170;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
  height: 45px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
  border-top: 1px solid #ffb1b1;
  background-color: #fff;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
  -webkit-transition: 300ms;
  transition: 300ms;
}
.pd_product-num-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.pd_product-num-minus {
  border: 1px solid #ddd;
  border-right: none;
  -webkit-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
.pd_product-num-minus, .pd_product-num-plus {
  position: relative;
  display: block;
  width: 28px;
  height: 28px;
  line-height: 28px;
}
.pd_product-num-form[type="number"], .pd_product-num-select {
  -webkit-appearance: none;
  display: block;
  width: 32px;
  height: 30px;
  line-height: 28px;
  border: 1px solid #ddd;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  font-size: 1.7rem;
  color: #333;
}
.pd_product-num-plus {
  border: 1px solid #ddd;
  border-left: none;
  -webkit-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
.pd_add-cart, .pd_buy-now, .pd_buy-disable {
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 34px;
  line-height: 32px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 5px;
  border: 1px solid #e63636;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  background-color: #ff3c3c;
  font-size: 1.4rem;
  text-align: center;
}

.pd_product-buy-num .pd_shop-cart {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-left: 10px;
  text-align: center;
  color: #7e7e7e;
  font-size: 2.4rem;
}
.fade-panel {
  width: 100%; height: 100%;
  position: fixed; top: 0; left: 0; z-index: 999;
  opacity: 0.8;
  background-color: rgb(0, 0, 0);
  display:none;
}

.mobile_deal_cart_row {width: 100%; position: relative; height: 68px; float:left; padding-bottom: 12px; padding-top:12px; border-bottom: 1px solid #ddd;}
.mobile-cart-table li {width: 100%; position: relative; height: 68px; float:left; padding-bottom: 12px; padding-top:12px; border-bottom: 1px solid #ddd;}
.mobile_deal_cart_row > div {float:left;}
.mobile-cart-table > li > div {float:left;}
.mobile-deal-buy-desc {width: 60px; margin-left: 10px;}
.mobile-deal-buy-desc .cart-icon {margin-top: 4px;}
.mobile-deal-buy-desc .cart-icon img{width: 50px;}
.mobile-deal-buy-desc .cart-title>a{text-overflow: ellipsis; width: 50px; height: 18px;
  line-height:18px; display:block; overflow: hidden}
.mobile-cart-number { width: 100px; height: 53px; padding-top: 15px;}
.mobile-cart-number input {padding:1}
.mobile-deal-buy-price {width: 100px; height: 34px;
  line-height:34px;}
.mobile-deal-buy-total {width: 100px; height: 34px;
  line-height:34px;}
.mobile-deal-buy-del {position: absolute;right: 12px; bottom: 30px;}
.yhd_layout_footer {
  position: fixed;
  width: 100%;
  height: 55px;
  overflow: hidden;
  border-top: 1px solid #e0e0e0;
  bottom:0;
  background:#fff;
}
.yhd_layout_footer .ab-left {position: absolute; left: 12px; font-size: 1em; width: 50px; height: 28px;
  line-height:28px; top: 12px;}
.yhd_layout_footer .ab-left span { font-size: 16px; width: 50px; height: 28px; line-height: 28px;
  text-align: center;}
.mobile_cart_warn {border: 1px solid #ff2f00;}
.yhd_layout_footer .ab-right {position: absolute; right:0;}
.yhd_layout_footer .ab-right span {
  display: block;
  width: 90px;
  height: 100%;
  line-height: 55px;
  text-align: center;
  background-color: #ff3c25;
  color: #fff;
  font-size: 1.6rem;
}
.yhd_layout_footer .ab-text {
  line-height: 55px;
  font-size: 1em;
  padding-left: 80px;
}
.mobile-cart-title {background: #fffcf7; border-top: 1px solid #f39800; border-bottom: 1px solid #ddd; float:left;
  width: 100%; padding-left: 12px;box-sizing: border-box;}
.address_add_content {
  padding: 0 10px;
}
.address_add_content li {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  margin: 10px 0;
}
.address_add_content input[type=text], .address_add_content input[type=tel], .address_add_content input[type=password] {
  line-height: 14px;
  padding: 9px 0 9px 10px;
  -webkit-appearance: none;
  border: 1px solid #e5e5e5;
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  border-radius: 0;
}
.address_add_content select {
  -webkit-appearance: none;
  border-radius: 0;
  border: 1px solid #e5e5e5;
  height: 34px;
  line-height: 34px;
  padding: 0 23px 0 10px;
  color: #333;
  background-repeat: no-repeat;
  _background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAOCAYAAABQFS4BAAAAGXRF…nX8SHKIf93qGXb9lP2ODTIyY+JZhG3zj/NIX4VvQ13wIMAFl8R/pYWs1fAAAAAElFTkSuQmCC');
  background-position: center right;
  background-size: 23px 7px;
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.blank {clear:both;}
.yhd_payment {    border-top: 1px solid #cbcbcb;
  border-bottom: 1px solid #d9d9d9;
  background-color: #fff;
  margin-top: 10px;
  color: #000;
}
.yhd_payment .yhd_pay_way {
  padding: 0 10px;
  height: 44px;
  border-bottom: 1px solid #e5e5e5;
  line-height: 44px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.yhd_content {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
}

.yhd_submit_box {
  text-align: right;
  height: 74px;
  background-color: #fff;
  border-top: 1px solid #ff3c3c;
  margin-top: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 55px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.yhd_submit_box .order_totol_cost {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
  border-right: 1px solid #e0e0e0;
  height: 33px;
  padding-right: 10px;
  color: #666;
  font-size: 1.2rem;
}
.order_totol_cost .total_cost {display:block;}
.yhd_submit_box .order_totol_cost .cost {
  color: #ff3c3c;
  font-size: 1.7rem;
}
.yhd_submit_box .yhd_submit {
  margin-right: 10px;
  margin-left: 10px;
  height: 30px;
  line-height: 30px;
  background-color: #ff3c3c;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  width: 85px;
  text-align: center;}
.mobile_red{color:#ff2f00;}
.mobile-member-info { display: table; width: 100%; }
.ncp-member-info { overflow: hidden; width: 33%; background: #0078d8;
  float: left;  }
.ncp-member-info .avatar { width: 55%; margin: 0 auto; padding-top: 10px; }
.ncp-member-info .avatar img { width: 100%; border-radius: 50%; border: 3px solid #fff; }
.ncp-member-info dl { display: block; float: left; width: 100%; font-size: .8125em; padding-bottom: 10px;
  color: #fff; }
.ncp-member-info dt { margin-bottom: 6px; padding-top: 10px; text-align: center; color: #fff; }
.ncp-member-info dt a{ color:#fff; }
.ncp-member-info dd { text-align: center; font-size: 1em; line-height: 1.2em; color: #fff; }
.mobile-padding-list { width: 67% !important; float: left; }
.mobile-padding-list { width: 100%; overflow: hidden; background-color: #FFF; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); }
.mobile-padding-list li a { color: #a5a5a5; font-size: .8125em; text-decoration: none; display: table-cell; width: 100%;
  height: 100%; vertical-align: middle; }
.mobile-padding-list li p:first-child { color: #F80808; }
.mobile-padding-list li { float: left; width: 50%; /* height: 3em; */ vertical-align: middle;
  box-shadow: 1px 0 0 rgba(200, 200, 200, 0.6); text-align: center; display: table; position: relative; }
.mobile-menu-list { width: 100%; margin-top: 10px; background-color: #FFF; padding: .46875em .46875em; overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); }
.mobile-menu-list li { float: left; width: 25%; /*padding: .46875em .46875em;*/ text-align: center; }
.mobile-menu-list li a { display: block; width: 100%; text-decoration: none; }
.mobile-menu-list li a img { width: 2.5em; height: 2.5em; display: block; margin: 0 auto .75em; }
.mobile-menu-list li p { font-size: .75em; color: #6a6a6a; text-align: center; line-height: 1.35em; }
.list-title { margin-top: 10px; color: #6a6a6a; padding-left: 15px; font-size: .8125em; height: 2.384615em;
  line-height: 2.384615em; vertical-align: middle; background-color: #FFF; }
.yhd_logout {    display: block;
  color: #fff;
  height: 40px;
  line-height: 40px;
  margin: 20px 21px;
  text-align: center;
  background: #fe5955;
  border-radius: 3px;}
.address_add_content .mobile-padding-list li {margin:0}
.mobile-table-list li {width: 100% !important; background: #fffcf7; border-top:1px solid #f39800; border-bottom:1px solid #f39800;}
.mobile-table-list li label {width: 100%; float:left; height: 20px; line-height: 20px; font-weight: bold;
  padding-left: 10px; box-sizing: border-box;}
.mobile-table-list li p {width: 25% !important; float:left;}
